.tooltipStackedChart, 
.tooltipDonutChart {
    background: #F7F7F5;
    position: absolute;
    height: 18rem;
    width: 24rem;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color:#556976;
    z-index: 20;
    border: 1px solid #556976;
}

.tooltip ::before {
    content: "";
    height: 15px;
    width: 15px;
    background: #556976;
    position: absolute;
    top: 16px;
    left: -7px;
    transform: rotate(45deg);
    z-index: 1;

}

.xAxis {
    stroke: #93979d;

}

.topHeader{
    width: 100%;
    height: 18%;
    background: #556976;
    display: flex;
    justify-content: space-between;
    color: #F7F7F5;
    font-size: 1.2rem;
    padding: .6rem;
    font-weight: bold;
    
}

.total {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title {
    width: 56%;
    height: 50%;
    text-align: left;
    padding: 1rem;
    font-size: 1.5rem;

}
.financialOutput {
    padding: 1rem;
}
.value {
    width: 44%;
    padding: 1rem;
    font-size: 3rem;
    font-weight: 200;
    display: flex;
    justify-content: center;
    text-align: center;
 
}
span {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: .3rem;
    padding-left: .3rem;

    
}

.axis {
    fill: none;
    stroke-opacity: .75;
    shape-rendering: crispEdges;
    stroke: #F7F7F5 !important;
    stroke-width:  .8px;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;

}

.summary {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    width: 150px;
    margin-top: 1rem;
    font-size: 2.2rem;
    color: #72929B;

}
.subHeader {
    font-size: 1.4rem;
    font-style: italic;
}

